#app {
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

#chart-builder {
  width: 100%;
  min-height: 100%;
  background-color:rgba(0, 0, 0, 0.8);
  margin: 0 auto;
}

h1 {
  color: white;
  padding: 5px;
}

.node {
  color: #FFF;
  padding: 10px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  background-color:rgba(0, 0, 0, 1);
}
