body {
  background: url(paper.png) lightgrey no-repeat center center fixed;
  background-size: cover;
}

.info {
  font-family: Agenda-Light,Agenda Light,Agenda,Arial Narrow,sans-serif;
  font-weight: 100;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
  color: #FFF;
  padding: 2rem;
  width: 33%;
  margin: 2rem;
  float: right;
  font-size: 1.2rem;
}
.info a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  transition: #EDEDED 0.6s ease 0s;
}
